html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-style: normal;
  margin: 0;
  background-color: #f2f2f2;
}

img {
  width: 100px;
  align-self: center;
  display: block;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
  margin-bottom: 0;
}

.author {
  font-style: italic;
  font-size: .875rem;
}

p {
  font-size: 1rem;
  margin: 0 auto 1.5rem;
}

section {
  display: flex;
  margin: 0 1.5rem 1.5rem;
}

.btn-small {
  text-decoration: none;
}

.btn {
  color: #fff;
  background-color: #333;
  padding: .5rem;
  border-radius: 4px;
  margin: 0 0 1.5rem;
}

.btn:hover {
  background-color: #000;
}

.btn-main {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .75rem;
  padding-bottom: .25rem;
}

.btn-main p {
  flex-grow: 1;
}

.btn-main:first-child {
  background-color: #e2e2e2;
}

.btn-main:nth-child(2) {
  background-color: #ccc;
}

.btn-main:nth-child(3) {
  background-color: #aaa;
}

.btn-main:last-child {
  background-color: #999;
}
